*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-blue : #0C07E4;
    --primary-grey : #d9d9d9;
}

#wrapper {
    position: relative;
}


/* Main content */
main {
    padding-top: 30px;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    min-height:700px;
    border: 1px solid red;
}

.main-left-part {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main-left-part > h3 {
    font-size: 70px;
    font-weight: 700;
    z-index: 1;
}

.main-container > img {
    width: 900px;
    position: absolute;
    right: -70px;
    bottom: 40px;
}

.button-container {
    display: flex;
    gap: 25px;
}

button {
    width: 140px;
    padding-block: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.sign-up {
    background-color: var(--primary-blue);
}
.sign-in {
    background-color: var(--primary-grey);
}

.sign-up {
    color: white;
}

.sign-in {
    color: black;
}




