*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-blue : #0C07E4;
    --primary-grey : #d9d9d9;
}

#wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Header */

header {
    padding: 10px;
    background-color: var(--primary-grey);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left-part {
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
}

.left-part > img {
    width: 68px;
}

.left-part > h2 {
    font-size: 25px;
}

.right-part {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 35px;
}

.right-part > li {
    cursor: pointer;
}


/* Main content */
main {
    padding-top: 30px;
    display: flex;
}

.main-container-1 {
display: flex;
justify-content: space-between; 
align-items: center; 
max-width: 1200px;

}

.main-container-1 > img {
max-width: 60%; 

}
.right-column h1{
font-size: 55px;
}
.right-column p{
font-size: 20px;
}


/* Footer Section */
footer {
    padding: 20px;
    background-color: var(--primary-grey);
    
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    gap: 200px;
}

.social-icons-list {
    margin-top: 10px;
    display: flex;
    gap: 50px;
}

.ico {
    cursor: pointer;
}