*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-blue : #0C07E4;
    --primary-grey : #d9d9d9;
    --secondary-grey : #969696;
}

#wrapper {
    position: relative;
}


/* Main content */
main {
    padding-top: 30px;
    margin-bottom:100px;
}

.main-container-1 {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 50px;
    position: relative;
}

.main-container-1 > img {
    width: 630px;
    user-select: none;
    z-index: 1; 
}
.right-column{
    display: flex;
    
}
.right-column h2{
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 700;
}

.right-column .inputbox{
    width: 100%;
    height: 50px;
    margin: 30px 0 ;
    position: relative; 
}

.inputbox input, select{
    border: 1px solid var(--secondary-grey);
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
}
.inputbox :focus {
    border: 1px solid var(--primary-blue);
}

.inputbox input::placeholder{
    color:grey;
    
}
.right-column .subbtn{
    width: 100%;
    height: 45px;    
    border-radius:5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
    background-color: var(--primary-blue);
    border:1px solid;
}

.right-column .forgotpassword{
    margin-top: 10px;
    cursor: pointer;
}
.forgotpassword > a:hover{
    text-decoration:underline;
}
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
#remember-me {
    width: 15px;
    height: 15px; 
}
