*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-blue : #0C07E4;
    --primary-grey : #d9d9d9;
}

#wrapper {
    position: relative;
}


/* Main content */
main {
    
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-container > img {
    width: 400px;
}