*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-blue : #0C07E4;
    --primary-grey : #d9d9d9;
    --primary-white : white;
}

#wrapper {
    position: relative;
}



/* Main Content */
.container {
    width: 100%;
    display:flex ;
}

.main-container {
    min-height: 700px;
    width: 75%;
    padding: 25px;
    margin-bottom: 50px;
}

.sections {
    margin-top: 50px;
}

.sections:nth-of-type(1) {
    margin-top: 20px;
}

.sub-sections{
    position: relative;
    margin-top: 10px;
    box-shadow: 5px 10px 12.3px 5px rgba(0, 0, 0, .25);
    padding: 20px;
}

.performance > p{
    margin-bottom: 10px;
}
.performance > p:last-child{
    margin-bottom: 0px;
}

.right1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    cursor: pointer;
}

.sub-table-row {
    width: 95%;
    display: flex;
    align-items: center;
    margin: 5px;
}
hr {
    width: 95%;
}

.sub-table-row img {
    width: 70px;
    height: 70px;
}
.sub-table-row p {
    margin-left: 200px;
    width: 200px;
}


@media (max-width: 768px) {
    .main-container {
        width: 100%;
        padding: 20px;
        margin-bottom: 50px;
    }
    .sub-table-row {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 2px;
    }
    hr {
        width: 95%;
    }
    
    .sub-table-row img {
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }
    .sub-table-row p {
        margin: 5px;
        width: fit-content;
    }
}
