*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-blue : #0C07E4;
    --primary-grey : #d9d9d9;
    --primary-white : white;
}

#wrapper {
    position: relative;
}

/* Main Content */
.container {
    width: 100%;
    display:flex ;
}

#analysisreport {
    color: var(--primary-blue);
    background-color: var(--primary-white);
}


.main-container {
    width: 75%;
    padding: 25px;
    margin-bottom: 50px;
}
.main-container-heading > a {
    cursor: pointer;
}
.sections {
    position: relative;
    margin-top: 30px;
    box-shadow: 5px 10px 12.3px 5px rgba(0, 0, 0, .25);
    padding: 20px;
    margin-bottom: 50px;
}

.company-logo-container > img {
    height: 50px;
}

.company-logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.company-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.position {
    margin-top: 20px;
    margin-bottom: 30px;
}

.sections  button {
    margin-top: 10px;  
    padding-block: 5px;
    padding-inline: 25px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    position: absolute;
    right: 25px;
    bottom: 20px;
} 

.form-adjust {
    width: 50%;
    margin: 0 auto;
}

.datebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.datebox input {
    border: 1px solid var(--secondary-grey);
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;  
}
.batch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.batch-container select {
    width: 350px;
    border: 1px solid var(--secondary-grey);
    padding: 10px;
    border-radius: 5px;
    margin-top:5px;
    outline: none;  
}
.departmentbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.Checkbox{
    width: 350px;
    display:flex;
    justify-content: space-between;
}
.add-button {
    padding-block: 5px;
    padding-inline: 25px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--primary-blue);
    color: var(--primary-white);
}
.button-container-2{
    display:flex;
    justify-content: space-evenly;
}