#wrapper {
    position: relative;
}

/* Main Content */
.container {
    width: 100%;
    display:flex ;
}

.main-container {
    width: 75%;
    padding: 25px;
    margin-bottom: 50px;
}
.main-container-heading > a {
    cursor: pointer;
}
.main-container-header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
#companymanagement{
    color: var(--primary-blue);
    background-color: var(--primary-white);
}

.sections {
    position: relative;
    margin-top: 30px;
    box-shadow: 5px 10px 12.3px 5px rgba(0, 0, 0, .25);
    padding: 20px;
    margin-bottom: 50px;
}
.logo-container{
    display:flex;
    border: 2px solid red;
    
}
.inputbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left:30px;
}

.inputbox input,textarea {
    border: 1px solid var(--secondary-grey);
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
}
.inputbox :focus {
    border: 1px solid var(--primary-blue);
}

.inputbox input::placeholder{
    color:grey;
}
.inputbox-1{
    display: flex;
    flex-direction: row;
    gap:50px;
    /*justify-content: space-between;*/
}

.textarea-message:focus {
    border: 1px solid var(--primary-blue);
}

.textarea-message{
    border: 1px solid var(--secondary-grey);
    outline: none;
    resize: none;
    padding:10px ;
    width: 100%;
    height:200px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.sections .update-button {
    padding-block: 5px;
    padding-inline: 25px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    position: absolute;
    right: 25px;
    bottom: 20px;
}
.delete-button{
    padding-block: 5px;
    padding-inline: 25px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    background-color: red;
    color: var(--primary-white); 
}
