*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-blue : #0C07E4;
    --primary-grey : #d9d9d9;
    --primary-white : white;
    --primary-red : #FB1616;
}



#wrapper {
    position: relative;
}

/* Main Content */
.container {
    width: 100%;
    display:flex ;
}

#notifications{
    color: var(--primary-blue);
    background-color: var(--primary-white);
}

.main-container {
    width: 75%;
    padding: 25px;
    margin-bottom: 50px;
}
.main-container-heading > a {
    cursor: pointer;
}
.main-container-header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.main-container-header .add-button {
    margin-top: 10px;
    padding-block: 5px;
    padding-inline: 25px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    position: absolute;
    right: 25px; 
}
.sections {
    position: relative;
    margin-top: 30px;
    box-shadow: 5px 10px 12.3px 5px rgba(0, 0, 0, .25);
    padding: 20px;
    margin-bottom: 50px;
}

.company-logo-container > img {
    height: 50px;
}

.company-logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.company-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message, .subject{
    margin-top: 10px;
}

.message {
    margin-bottom: 20px;
}

.attachment-links {
    margin-right: 10px;
    cursor: pointer;
    color: var(--primary-blue);
}
.attachment-links:hover {
    text-decoration: underline;
}

.sections .edit-button {
    margin-top: 10px;
    padding-block: 5px;
    padding-inline: 25px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    position: absolute;
    right: 150px; 
    bottom: 20px;
}

.sections  .delete-button {
    margin-top: 10px;
    padding-block: 5px;
    padding-inline: 25px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    background-color: var(--primary-red);
    color: var(--primary-white);

    position: absolute;
    right: 25px;
    bottom: 20px;
} 
